<div class="crew-selector">
  <mat-card>
    <div class="crew-selector__close-button">
      <button (click)="deleteComponent()" mat-icon-button color="accent">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <h3><b>Select time period</b></h3>

    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker1"  (dateChange)="updateInputStart()"  placeholder="Choose a start" [formControl]="dateControlStart">
      <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker2" (dateChange)="updateInputStart()" placeholder="Choose an end" [formControl]="dateControlEnd">
      <mat-datepicker-toggle matSuffix [for]="$any(picker2)"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
    </mat-form-field>

    <h3><b>Select members</b></h3>
      <table class="crew-selector__table" mat-table [dataSource]="crewMembers">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        <ng-container matColumnDef="members">
          <th mat-header-cell *matHeaderCellDef>Members</th>
          <td mat-cell *matCellDef="let member"> {{member}} </td>
        </ng-container>

        <ng-container matColumnDef="duty">
          <th mat-header-cell *matHeaderCellDef>Duty</th>
          <td mat-cell *matCellDef="let member"><mat-checkbox  (change)="onCheckboxEventInOperation($event)" [name]="member"></mat-checkbox> </td>
        </ng-container>

        <ng-container matColumnDef="dirtAllowance">
          <th mat-header-cell *matHeaderCellDef>Dirt Allowance</th>
          <td mat-cell *matCellDef="let member"><mat-checkbox [disabled]="!isPermittedForDirtAllowance(member)"  (change)="onCheckboxEventDirtAllowance($event)" [name]="member"></mat-checkbox> </td>
        </ng-container>
      </table>
</mat-card>
</div>

