.app {
  min-height: 100vh;
  min-width: 100vw;

  &__body {
    padding: 10px;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #e6f0fa;
  }

  &__crew-selections {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 10px;
  }

  &__add_crew-selection_button {
    min-width: 270px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    width: 18vw;

    border-radius: 25px;
    border-color: grey;
    border-style: dashed;
  }

  &__header {
    margin-left: 20px;


    &__headline {
      margin: 0;
    }
  }

  &__pdf_generator_box {
    width: 40vh;
    min-width: 250px;
    margin-left: 20px;
  }


  &__pdf_generator {
    width: 20vw;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;

    &__item {
      margin-left: 5px;
      margin-right: 5px
    }
  }

}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

