.app {
  min-height: 100vh;
  width: 100vw;
  &__body{
    padding: 10px;
    min-height: 100vh;
    background-color: #e6f0fa;
  }
  &__crew-selections{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 10px;
  }
  &__add_crew-selection_button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 18vw;

    border-radius: 25px;
    border-color: grey;
    border-style: dashed;
  }
}
