<div class="app">
  <mat-toolbar color="primary">

    <span class="app__header">
      <p class="app__header__headline">Fire Department Invoice 🚒</p>
    </span>


    <span class="app__header">
      <button (click)="openCrewMemberConfigDialog()" color="accent" mat-raised-button>Crew Member Config</button>
    </span>


  </mat-toolbar>

  <div class="app__body">
    <h2 class="app__header">Emergency Data</h2>
    <div class="app__meta_data">
      <emergency-base-data (emergencyData$)="emergencyMetaData=$event"></emergency-base-data>
      <div class="app__pdf_generator_box">
        <mat-card>
          <mat-card-content class="app__pdf_generator">
            <div class="app__pdf_generator__item">
              <mat-form-field appearance="outline" class="emergency-base-data__item">
                <mat-label>Filename</mat-label>
                <input (change)="fileName=$any($event.target).value" [defaultValue]="'kosten_aufstellung'" matInput>
              </mat-form-field>
            </div>
            <div class="app__pdf_generator__item">
              <button (click)="generatePdf()" color="primary" mat-raised-button>Generate</button>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <app-crew-selections (crewSelections$)="crewSelections=$event" [endDate]="emergencyMetaData?.endDate"
                         [startDate]="emergencyMetaData?.startDate"></app-crew-selections>
  </div>
</div>
