<div class="crew-selector">
  <mat-card>
    <div class="crew-selector__close-button">
      <button (click)="deleteComponent()" color="accent" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <h3><b>Select time period</b></h3>

    <mat-form-field>
      <input (dateChange)="updateInputStart()" [formControl]="dateControlStart" [ngxMatDatetimePicker]="picker1"
             matInput
             placeholder="Choose a start">
      <mat-datepicker-toggle [for]="$any(picker1)" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1 [defaultTime]="getStartDate()" [showSeconds]="false"></ngx-mat-datetime-picker>
    </mat-form-field>
    <mat-form-field>
      <input (dateChange)="updateInputEnd()" [formControl]="dateControlEnd" [ngxMatDatetimePicker]="picker2" matInput
             placeholder="Choose an end">
      <mat-datepicker-toggle [for]="$any(picker2)" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2 [defaultTime]="getEndDate()"
                               [showSeconds]="false"></ngx-mat-datetime-picker>
    </mat-form-field>

    <h3><b>Select members</b></h3>
    <table [dataSource]="crewMembers" class="crew-selector__table" mat-table>
      <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
      <tr *matRowDef="let myRowData; columns: columnsToDisplay" mat-row></tr>
      <ng-container matColumnDef="members">
        <th *matHeaderCellDef mat-header-cell>Members</th>
        <td *matCellDef="let member" mat-cell> {{member.surname}} {{member.name}} </td>
      </ng-container>

      <ng-container matColumnDef="duty">
        <th *matHeaderCellDef mat-header-cell>Duty</th>
        <td *matCellDef="let member" mat-cell>
          <mat-checkbox (change)="onCheckboxEventInOperation($event, member)" [name]="member"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="dirtAllowance">
        <th *matHeaderCellDef mat-header-cell>Dirt Allowance</th>
        <td *matCellDef="let member" mat-cell>
          <mat-checkbox (change)="onCheckboxEventDirtAllowance($event, member)"
                        [disabled]="!isPermittedForDirtAllowance(member.id)" [name]="member"></mat-checkbox>
        </td>
      </ng-container>
    </table>
  </mat-card>
</div>

