
<div class="app">
  <mat-toolbar color="primary">
    <span>Fire Department Invoice</span>
  </mat-toolbar>

  <div class="app__body">
    <h2>Einsatz Daten</h2>
    <p>TODO ADD FORM</p>
    <h2>Mannschaft Zeitangaben</h2>
    <div class="app__crew-selections">
      <ng-container *ngFor="let l of crewMemberSelection">
        <app-crew-selector (deleteComponent$)="removeCrewMemberSelection($event)" [id]="l" [crewMembers]="['Felix', 'Gregor']">
        </app-crew-selector>
      </ng-container>
      <div class="app__add_crew-selection_button">
        <button matTooltip="Mannschaft Zeitangabe hinzufügen" mat-mini-fab color="accent" (click)="addCrewMemberSelection()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
