.crew-manager {
  max-width: 80vh;
  height: 50vh;

  &__create__area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__create__content {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
  }

  &__create__button {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
  }

  &__member__button__delete {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__member__content {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /*&__background div:nth-child(2n) {
      background-color: #E5E5E5;
    }*/
  }

  &__member__box {
    margin-top: 20px;
    width: 470px;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding: 0;
}
