<div class="emergency-base-data">

  <mat-card>
    <mat-card-content class="emergency-base-data__box">
      <div class="emergency-base-data__content">
        <mat-form-field appearance="outline" class="emergency-base-data__item">
          <mat-label>Choose a start</mat-label>
          <input (dateChange)="startDate= dateControlStart.value" [disabled]="editingDone"
                 [formControl]="dateControlStart"
                 [ngxMatDatetimePicker]="picker1" matInput>
          <mat-datepicker-toggle [for]="$any(picker1)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker1 [defaultTime]="defaultDate" [showSeconds]="false"></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="emergency-base-data__item">
          <mat-label>Choose an end</mat-label>
          <input (dateChange)="endDate= dateControlEnd.value" [disabled]="editingDone" [formControl]="dateControlEnd"
                 [ngxMatDatetimePicker]="picker2" matInput>
          <mat-datepicker-toggle [for]="$any(picker2)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker2 [defaultTime]="defaultDate" [showSeconds]="false"></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="hasInvoiceReceiver" [disabled]="editingDone" class="emergency-base-data__item">With
          Invoice Receiver
        </mat-checkbox>
      </div>
      <div class="emergency-base-data__content">
        <mat-form-field *ngIf="hasInvoiceReceiver" appearance="outline" class="emergency-base-data__item">
          <mat-label>Invoice Receiver Name</mat-label>
          <input (change)="invoiceReceiverName=$any($event.target).value" [disabled]="editingDone" matInput>
        </mat-form-field>

        <mat-form-field *ngIf="hasInvoiceReceiver" appearance="outline" class="emergency-base-data__item">
          <mat-label>Invoice Receiver Address</mat-label>
          <input (change)="invoiceReceiverAddress=$any($event.target).value" [disabled]="editingDone" matInput>
        </mat-form-field>

        <mat-form-field *ngIf="hasInvoiceReceiver" appearance="outline" class="emergency-base-data__item">
          <mat-label>Invoice Receiver Postcode</mat-label>
          <input (change)="invoiceReceiverPostcode=$any($event.target).value" [disabled]="editingDone" matInput>
        </mat-form-field>
      </div>
      <mat-checkbox (change)="editDone($event)" [(ngModel)]="editingDone" class="emergency-base-data__item">Data
        complete
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
</div>


